<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="WlcDailyTrack.Android">
	<uses-sdk android:minSdkVersion="17" android:targetSdkVersion="21" />
	<application android:label="Whole Life Challenge Tracker" android:theme="@style/Wlc.Material"></application>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.INTERNET" />
</manifest>