<div class="stats-table-wrapper">
<table class="stats-table">
<thead>
<tr class="day-count">
<th>
<span>Day</span>
</th>
<td>
<span title="2014-05-03">
1
</span>
</td>
<td>
<span title="2014-05-04">
2
</span>
</td>
<td>
<span title="2014-05-05">
3
</span>
</td>
<td>
<span title="2014-05-06">
4
</span>
</td>
<td>
<span title="2014-05-07">
5
</span>
</td>
<td>
<span title="2014-05-08">
6
</span>
</td>
<td>
<span title="2014-05-09">
7
</span>
</td>
<td>
<span title="2014-05-10">
8
</span>
</td>
<td>
<span title="2014-05-11">
9
</span>
</td>
<td>
<span title="2014-05-12">
10
</span>
</td>
<td>
<span title="2014-05-13">
11
</span>
</td>
<td>
<span title="2014-05-14">
12
</span>
</td>
<td>
<span title="2014-05-15">
13
</span>
</td>
<td>
<span title="2014-05-16">
14
</span>
</td>
<td>
<span title="2014-05-17">
15
</span>
</td>
<td>
<span title="2014-05-18">
16
</span>
</td>
<td>
<span title="2014-05-19">
17
</span>
</td>
<td>
<span title="2014-05-20">
18
</span>
</td>
<td>
<span title="2014-05-21">
19
</span>
</td>
<td>
<span title="2014-05-22">
20
</span>
</td>
<td>
<span title="2014-05-23">
21
</span>
</td>
<td>
<span title="2014-05-24">
22
</span>
</td>
<td>
<span title="2014-05-25">
23
</span>
</td>
<td>
<span title="2014-05-26">
24
</span>
</td>
<td>
<span title="2014-05-27">
25
</span>
</td>
<td>
<span title="2014-05-28">
26
</span>
</td>
<td>
<span title="2014-05-29">
27
</span>
</td>
<td>
<span title="2014-05-30">
28
</span>
</td>
<td>
<span title="2014-05-31">
29
</span>
</td>
<td>
<span title="2014-06-01">
30
</span>
</td>
<td>
<span title="2014-06-02">
31
</span>
</td>
<td>
<span title="2014-06-03">
32
</span>
</td>
<td>
<span title="2014-06-04">
33
</span>
</td>
<td>
<span title="2014-06-05">
34
</span>
</td>
<td>
<span title="2014-06-06">
35
</span>
</td>
<td>
<span title="2014-06-07">
36
</span>
</td>
<td>
<span title="2014-06-08">
37
</span>
</td>
<td>
<span title="2014-06-09">
38
</span>
</td>
<td>
<span title="2014-06-10">
39
</span>
</td>
<td>
<span title="2014-06-11">
40
</span>
</td>
<td>
<span title="2014-06-12">
41
</span>
</td>
<td>
<span title="2014-06-13">
42
</span>
</td>
<td>
<span title="2014-06-14">
43
</span>
</td>
<td>
<span title="2014-06-15">
44
</span>
</td>
<td>
<span title="2014-06-16">
45
</span>
</td>
<td>
<span title="2014-06-17">
46
</span>
</td>
<td>
<span title="2014-06-18">
47
</span>
</td>
<td>
<span title="2014-06-19">
48
</span>
</td>
<td>
<span title="2014-06-20">
49
</span>
</td>
<td>
<span title="2014-06-21">
50
</span>
</td>
<td>
<span title="2014-06-22">
51
</span>
</td>
<td>
<span title="2014-06-23">
52
</span>
</td>
<td>
<span title="2014-06-24">
53
</span>
</td>
<td>
<span title="2014-06-25">
54
</span>
</td>
<td>
<span title="2014-06-26">
55
</span>
</td>
</tr>
</thead>
<tbody>
<tr>
<th class="nutrition">
<div class="title">
Nutrition
</div>
<span class="icon-level-nutrition icon-level-21"></span>
</th>
<td class="parts4">
<span>
5
</span>
</td>
<td class="parts4">
<span>
5
</span>
</td>
<td class="parts3">
<span>
4
</span>
</td>
<td class="parts4">
<span>
5
</span>
</td>
<td class="parts4">
<span>
5
</span>
</td>
<td class="parts4">
<span>
5
</span>
</td>
<td class="parts2">
<span>
3
</span>
</td>
<td class="parts4">
<span>
5
</span>
</td>
<td class="parts4">
<span>
5
</span>
</td>
<td class="parts4">
<span>
5
</span>
</td>
<td class="parts2">
<span>
3
</span>
</td>
<td class="parts2">
<span>
3
</span>
</td>
<td class="parts3">
<span>
4
</span>
</td>
<td class="parts2">
<span>
3
</span>
</td>
<td class="parts4">
<span>
5
</span>
</td>
<td class="parts4">
<span>
5
</span>
</td>
<td class="parts3">
<span>
4
</span>
</td>
<td class="parts4">
<span>
5
</span>
</td>
<td class="parts4">
<span>
5
</span>
</td>
<td class="parts4">
<span>
5
</span>
</td>
<td class="parts4">
<span>
5
</span>
</td>
<td class="parts4">
<span>
5
</span>
</td>
<td class="parts2">
<span>
3
</span>
</td>
<td class="parts2">
<span>
2
</span>
</td>
<td class="parts4">
<span>
5
</span>
</td>
<td class="parts4">
<span>
5
</span>
</td>
<td class="parts3">
<span>
4
</span>
</td>
<td class="parts3">
<span>
4
</span>
</td>
<td class="parts3">
<span>
4
</span>
</td>
<td class="parts4">
<span>
5
</span>
</td>
<td class="parts4">
<span>
5
</span>
</td>
<td class="parts3">
<span>
4
</span>
</td>
<td class="parts4">
<span>
5
</span>
</td>
<td class="parts2">
<span>
3
</span>
</td>
<td class="parts3">
<span>
4
</span>
</td>
<td class="parts3">
<span>
4
</span>
</td>
<td class="parts3">
<span>
4
</span>
</td>
<td class="parts4">
<span>
5
</span>
</td>
<td class="parts4">
<span>
5
</span>
</td>
<td class="parts4">
<span>
5
</span>
</td>
<td class="parts2">
<span>
3
</span>
</td>
<td class="parts2">
<span>
2
</span>
</td>
<td class="parts2">
<span>
2
</span>
</td>
<td class="parts2">
<span>
3
</span>
</td>
<td class="parts4">
<span>
5
</span>
</td>
<td class="parts4">
<span>
5
</span>
</td>
<td class="parts4">
<span>
5
</span>
</td>
<td class="parts0">
<span>

</span>
</td>
<td class="parts2">
<span>
3
</span>
</td>
<td class="parts0">
<span>

</span>
</td>
<td class="parts2">
<span>
3
</span>
</td>
<td class="parts2">
<span>
3
</span>
</td>
<td class="parts2">
<span>
3
</span>
</td>
<td class="parts0">
<span>

</span>
</td>
<td class="parts0">
<span>

</span>
</td>
</tr>
<tr>
<th class="workout">
<div class="title">
Workout
</div>
<span class="icon-level-workout icon-level-21"></span>
</th>
<td class="parts4">
<span>
2
</span>
</td>
<td class="parts4">
<span>
2
</span>
</td>
<td class="parts4">
<span>
2
</span>
</td>
<td class="parts4">
<span>
2
</span>
</td>
<td class="parts4">
<span>
2
</span>
</td>
<td class="parts4">
<span>
2
</span>
</td>
<td class="parts0">
<span>
0
</span>
</td>
<td class="parts4">
<span>
2
</span>
</td>
<td class="parts4">
<span>
2
</span>
</td>
<td class="parts4">
<span>
2
</span>
</td>
<td class="parts4">
<span>
2
</span>
</td>
<td class="parts0">
<span>
0
</span>
</td>
<td class="parts4">
<span>
2
</span>
</td>
<td class="parts0">
<span>
0
</span>
</td>
<td class="parts4">
<span>
2
</span>
</td>
<td class="parts4">
<span>
2
</span>
</td>
<td class="parts4">
<span>
2
</span>
</td>
<td class="parts4">
<span>
2
</span>
</td>
<td class="parts4">
<span>
2
</span>
</td>
<td class="parts4">
<span>
2
</span>
</td>
<td class="parts4">
<span>
2
</span>
</td>
<td class="parts0">
<span>
0
</span>
</td>
<td class="parts0">
<span>
0
</span>
</td>
<td class="parts4">
<span>
2
</span>
</td>
<td class="parts4">
<span>
2
</span>
</td>
<td class="parts4">
<span>
2
</span>
</td>
<td class="parts4">
<span>
2
</span>
</td>
<td class="parts4">
<span>
2
</span>
</td>
<td class="parts4">
<span>
2
</span>
</td>
<td class="parts4">
<span>
2
</span>
</td>
<td class="parts4">
<span>
2
</span>
</td>
<td class="parts4">
<span>
2
</span>
</td>
<td class="parts0">
<span>
0
</span>
</td>
<td class="parts0">
<span>
0
</span>
</td>
<td class="parts4">
<span>
2
</span>
</td>
<td class="parts4">
<span>
2
</span>
</td>
<td class="parts4">
<span>
2
</span>
</td>
<td class="parts4">
<span>
2
</span>
</td>
<td class="parts4">
<span>
2
</span>
</td>
<td class="parts0">
<span>
0
</span>
</td>
<td class="parts0">
<span>
0
</span>
</td>
<td class="parts0">
<span>
0
</span>
</td>
<td class="parts4">
<span>
2
</span>
</td>
<td class="parts0">
<span>
0
</span>
</td>
<td class="parts4">
<span>
2
</span>
</td>
<td class="parts4">
<span>
2
</span>
</td>
<td class="parts4">
<span>
2
</span>
</td>
<td class="parts0">
<span>

</span>
</td>
<td class="parts4">
<span>
2
</span>
</td>
<td class="parts0">
<span>

</span>
</td>
<td class="parts4">
<span>
2
</span>
</td>
<td class="parts4">
<span>
2
</span>
</td>
<td class="parts4">
<span>
2
</span>
</td>
<td class="parts0">
<span>

</span>
</td>
<td class="parts0">
<span>

</span>
</td>
</tr>
<tr>
<th class="mobilize">
<div class="title">
Mobilize
</div>
<span class="icon-level-mobilize icon-level-21"></span>
</th>
<td class="parts0">
<span>
0
</span>
</td>
<td class="parts0">
<span>
0
</span>
</td>
<td class="parts4">
<span>
2
</span>
</td>
<td class="parts4">
<span>
2
</span>
</td>
<td class="parts0">
<span>
0
</span>
</td>
<td class="parts4">
<span>
2
</span>
</td>
<td class="parts4">
<span>
2
</span>
</td>
<td class="parts4">
<span>
2
</span>
</td>
<td class="parts0">
<span>
0
</span>
</td>
<td class="parts0">
<span>
0
</span>
</td>
<td class="parts4">
<span>
2
</span>
</td>
<td class="parts4">
<span>
2
</span>
</td>
<td class="parts4">
<span>
2
</span>
</td>
<td class="parts0">
<span>
0
</span>
</td>
<td class="parts0">
<span>
0
</span>
</td>
<td class="parts0">
<span>
0
</span>
</td>
<td class="parts4">
<span>
2
</span>
</td>
<td class="parts4">
<span>
2
</span>
</td>
<td class="parts4">
<span>
2
</span>
</td>
<td class="parts0">
<span>
0
</span>
</td>
<td class="parts0">
<span>
0
</span>
</td>
<td class="parts0">
<span>
0
</span>
</td>
<td class="parts0">
<span>
0
</span>
</td>
<td class="parts0">
<span>
0
</span>
</td>
<td class="parts4">
<span>
2
</span>
</td>
<td class="parts4">
<span>
2
</span>
</td>
<td class="parts4">
<span>
2
</span>
</td>
<td class="parts4">
<span>
2
</span>
</td>
<td class="parts4">
<span>
2
</span>
</td>
<td class="parts4">
<span>
2
</span>
</td>
<td class="parts4">
<span>
2
</span>
</td>
<td class="parts4">
<span>
2
</span>
</td>
<td class="parts4">
<span>
2
</span>
</td>
<td class="parts0">
<span>
0
</span>
</td>
<td class="parts4">
<span>
2
</span>
</td>
<td class="parts4">
<span>
2
</span>
</td>
<td class="parts4">
<span>
2
</span>
</td>
<td class="parts4">
<span>
2
</span>
</td>
<td class="parts4">
<span>
2
</span>
</td>
<td class="parts4">
<span>
2
</span>
</td>
<td class="parts0">
<span>
0
</span>
</td>
<td class="parts0">
<span>
0
</span>
</td>
<td class="parts4">
<span>
2
</span>
</td>
<td class="parts0">
<span>
0
</span>
</td>
<td class="parts4">
<span>
2
</span>
</td>
<td class="parts4">
<span>
2
</span>
</td>
<td class="parts4">
<span>
2
</span>
</td>
<td class="parts0">
<span>

</span>
</td>
<td class="parts4">
<span>
2
</span>
</td>
<td class="parts0">
<span>

</span>
</td>
<td class="parts0">
<span>
0
</span>
</td>
<td class="parts4">
<span>
2
</span>
</td>
<td class="parts4">
<span>
2
</span>
</td>
<td class="parts0">
<span>

</span>
</td>
<td class="parts0">
<span>

</span>
</td>
</tr>
<tr>
<th class="supplement">
<div class="title">
Supplement
</div>
<span class="icon-level-supplement icon-level-21"></span>
</th>
<td class="parts0">
<span>
0
</span>
</td>
<td class="parts4">
<span>
1
</span>
</td>
<td class="parts0">
<span>
0
</span>
</td>
<td class="parts4">
<span>
1
</span>
</td>
<td class="parts4">
<span>
1
</span>
</td>
<td class="parts4">
<span>
1
</span>
</td>
<td class="parts4">
<span>
1
</span>
</td>
<td class="parts4">
<span>
1
</span>
</td>
<td class="parts4">
<span>
1
</span>
</td>
<td class="parts4">
<span>
1
</span>
</td>
<td class="parts4">
<span>
1
</span>
</td>
<td class="parts0">
<span>
0
</span>
</td>
<td class="parts4">
<span>
1
</span>
</td>
<td class="parts4">
<span>
1
</span>
</td>
<td class="parts4">
<span>
1
</span>
</td>
<td class="parts4">
<span>
1
</span>
</td>
<td class="parts4">
<span>
1
</span>
</td>
<td class="parts4">
<span>
1
</span>
</td>
<td class="parts4">
<span>
1
</span>
</td>
<td class="parts4">
<span>
1
</span>
</td>
<td class="parts4">
<span>
1
</span>
</td>
<td class="parts4">
<span>
1
</span>
</td>
<td class="parts4">
<span>
1
</span>
</td>
<td class="parts4">
<span>
1
</span>
</td>
<td class="parts4">
<span>
1
</span>
</td>
<td class="parts4">
<span>
1
</span>
</td>
<td class="parts4">
<span>
1
</span>
</td>
<td class="parts4">
<span>
1
</span>
</td>
<td class="parts4">
<span>
1
</span>
</td>
<td class="parts4">
<span>
1
</span>
</td>
<td class="parts4">
<span>
1
</span>
</td>
<td class="parts4">
<span>
1
</span>
</td>
<td class="parts4">
<span>
1
</span>
</td>
<td class="parts4">
<span>
1
</span>
</td>
<td class="parts4">
<span>
1
</span>
</td>
<td class="parts4">
<span>
1
</span>
</td>
<td class="parts4">
<span>
1
</span>
</td>
<td class="parts4">
<span>
1
</span>
</td>
<td class="parts4">
<span>
1
</span>
</td>
<td class="parts4">
<span>
1
</span>
</td>
<td class="parts4">
<span>
1
</span>
</td>
<td class="parts4">
<span>
1
</span>
</td>
<td class="parts4">
<span>
1
</span>
</td>
<td class="parts4">
<span>
1
</span>
</td>
<td class="parts4">
<span>
1
</span>
</td>
<td class="parts4">
<span>
1
</span>
</td>
<td class="parts4">
<span>
1
</span>
</td>
<td class="parts0">
<span>

</span>
</td>
<td class="parts4">
<span>
1
</span>
</td>
<td class="parts0">
<span>

</span>
</td>
<td class="parts4">
<span>
1
</span>
</td>
<td class="parts4">
<span>
1
</span>
</td>
<td class="parts4">
<span>
1
</span>
</td>
<td class="parts0">
<span>

</span>
</td>
<td class="parts0">
<span>

</span>
</td>
</tr>
<tr>
<th class="water">
<div class="title">
Lifestyle
</div>
<span class="icon-level-water icon-level-21"></span>
</th>
<td class="parts0">
<span>
0
</span>
</td>
<td class="parts0">
<span>
0
</span>
</td>
<td class="parts0">
<span>
0
</span>
</td>
<td class="parts0">
<span>
0
</span>
</td>
<td class="parts0">
<span>
0
</span>
</td>
<td class="parts0">
<span>
0
</span>
</td>
<td class="parts4">
<span>
1
</span>
</td>
<td class="parts0">
<span>
0
</span>
</td>
<td class="parts4">
<span>
1
</span>
</td>
<td class="parts4">
<span>
1
</span>
</td>
<td class="parts4">
<span>
1
</span>
</td>
<td class="parts4">
<span>
1
</span>
</td>
<td class="parts4">
<span>
1
</span>
</td>
<td class="parts4">
<span>
1
</span>
</td>
<td class="parts4">
<span>
1
</span>
</td>
<td class="parts4">
<span>
1
</span>
</td>
<td class="parts4">
<span>
1
</span>
</td>
<td class="parts4">
<span>
1
</span>
</td>
<td class="parts4">
<span>
1
</span>
</td>
<td class="parts4">
<span>
1
</span>
</td>
<td class="parts4">
<span>
1
</span>
</td>
<td class="parts0">
<span>
0
</span>
</td>
<td class="parts0">
<span>
0
</span>
</td>
<td class="parts0">
<span>
0
</span>
</td>
<td class="parts0">
<span>
0
</span>
</td>
<td class="parts0">
<span>
0
</span>
</td>
<td class="parts0">
<span>
0
</span>
</td>
<td class="parts0">
<span>
0
</span>
</td>
<td class="parts4">
<span>
1
</span>
</td>
<td class="parts4">
<span>
1
</span>
</td>
<td class="parts4">
<span>
1
</span>
</td>
<td class="parts4">
<span>
1
</span>
</td>
<td class="parts4">
<span>
1
</span>
</td>
<td class="parts4">
<span>
1
</span>
</td>
<td class="parts4">
<span>
1
</span>
</td>
<td class="parts4">
<span>
1
</span>
</td>
<td class="parts4">
<span>
1
</span>
</td>
<td class="parts4">
<span>
1
</span>
</td>
<td class="parts4">
<span>
1
</span>
</td>
<td class="parts4">
<span>
1
</span>
</td>
<td class="parts4">
<span>
1
</span>
</td>
<td class="parts4">
<span>
1
</span>
</td>
<td class="parts4">
<span>
1
</span>
</td>
<td class="parts4">
<span>
1
</span>
</td>
<td class="parts4">
<span>
1
</span>
</td>
<td class="parts4">
<span>
1
</span>
</td>
<td class="parts4">
<span>
1
</span>
</td>
<td class="parts0">
<span>

</span>
</td>
<td class="parts4">
<span>
1
</span>
</td>
<td class="parts0">
<span>

</span>
</td>
<td class="parts4">
<span>
1
</span>
</td>
<td class="parts4">
<span>
1
</span>
</td>
<td class="parts4">
<span>
1
</span>
</td>
<td class="parts0">
<span>

</span>
</td>
<td class="parts0">
<span>

</span>
</td>
</tr>
<tr>
<th class="graphic-icon-th">
<div class="title">
Total
</div>
<span>
<div class="icon-signal"></div>
</span>
</th>
<td>
7
</td>
<td>
8
</td>
<td>
8
</td>
<td>
10
</td>
<td>
8
</td>
<td>
10
</td>
<td>
7
</td>
<td>
10
</td>
<td>
9
</td>
<td>
9
</td>
<td>
9
</td>
<td>
6
</td>
<td>
10
</td>
<td>
5
</td>
<td>
9
</td>
<td>
9
</td>
<td>
10
</td>
<td>
11
</td>
<td>
11
</td>
<td>
9
</td>
<td>
9
</td>
<td>
6
</td>
<td>
4
</td>
<td>
5
</td>
<td>
10
</td>
<td>
10
</td>
<td>
9
</td>
<td>
9
</td>
<td>
10
</td>
<td>
11
</td>
<td>
11
</td>
<td>
10
</td>
<td>
9
</td>
<td>
5
</td>
<td>
10
</td>
<td>
10
</td>
<td>
10
</td>
<td>
11
</td>
<td>
11
</td>
<td>
9
</td>
<td>
5
</td>
<td>
4
</td>
<td>
8
</td>
<td>
5
</td>
<td>
11
</td>
<td>
11
</td>
<td>
11
</td>
<td>

</td>
<td>
9
</td>
<td>

</td>
<td>
7
</td>
<td>
9
</td>
<td>
9
</td>
<td>

</td>
<td>

</td>
</tr>
<tr class="spacer"></tr>
<tr>
<th class="bonus">
<div class="title">
Bonus
</div>
<span class="icon-level-bonus icon-level-21"></span>
</th>
<td class="parts0">
<span>
0
</span>
</td>
<td class="parts0">
<span>
0
</span>
</td>
<td class="parts0">
<span>
0
</span>
</td>
<td class="parts0">
<span>
0
</span>
</td>
<td class="parts4">
<span>
2
</span>
</td>
<td class="parts0">
<span>
0
</span>
</td>
<td class="parts0">
<span>
0
</span>
</td>
<td class="parts0">
<span>
0
</span>
</td>
<td class="parts0">
<span>
0
</span>
</td>
<td class="parts4">
<span>
2
</span>
</td>
<td class="parts0">
<span>
0
</span>
</td>
<td class="parts0">
<span>
0
</span>
</td>
<td class="parts0">
<span>
0
</span>
</td>
<td class="parts0">
<span>
0
</span>
</td>
<td class="parts4">
<span>
2
</span>
</td>
<td class="parts0">
<span>
0
</span>
</td>
<td class="parts0">
<span>
0
</span>
</td>
<td class="parts0">
<span>
0
</span>
</td>
<td class="parts0">
<span>
0
</span>
</td>
<td class="parts4">
<span>
2
</span>
</td>
<td class="parts0">
<span>
0
</span>
</td>
<td class="parts0">
<span>
0
</span>
</td>
<td class="parts0">
<span>
0
</span>
</td>
<td class="parts0">
<span>
0
</span>
</td>
<td class="parts4">
<span>
2
</span>
</td>
<td class="parts0">
<span>
0
</span>
</td>
<td class="parts0">
<span>
0
</span>
</td>
<td class="parts0">
<span>
0
</span>
</td>
<td class="parts0">
<span>
0
</span>
</td>
<td class="parts4">
<span>
2
</span>
</td>
<td class="parts0">
<span>
0
</span>
</td>
<td class="parts0">
<span>
0
</span>
</td>
<td class="parts0">
<span>
0
</span>
</td>
<td class="parts0">
<span>
0
</span>
</td>
<td class="parts4">
<span>
2
</span>
</td>
<td class="parts0">
<span>
0
</span>
</td>
<td class="parts0">
<span>
0
</span>
</td>
<td class="parts0">
<span>
0
</span>
</td>
<td class="parts0">
<span>
0
</span>
</td>
<td class="parts4">
<span>
2
</span>
</td>
<td class="parts0">
<span>
0
</span>
</td>
<td class="parts0">
<span>
0
</span>
</td>
<td class="parts0">
<span>
0
</span>
</td>
<td class="parts0">
<span>
0
</span>
</td>
<td class="parts4">
<span>
2
</span>
</td>
<td class="parts0">
<span>
0
</span>
</td>
<td class="parts0">
<span>
0
</span>
</td>
<td class="parts0">
<span>

</span>
</td>
<td class="parts0">
<span>
0
</span>
</td>
<td class="parts0">
<span>

</span>
</td>
<td class="parts0">
<span>
0
</span>
</td>
<td class="parts0">
<span>
0
</span>
</td>
<td class="parts0">
<span>
0
</span>
</td>
<td class="parts0">
<span>

</span>
</td>
<td class="parts0">
<span>

</span>
</td>
</tr>
<tr class="reflections-count">
<th>
<div class="text-right">Reflections Written</div>
</th>
<td class="reflection-written"><span class="icon-ok"></span></td>
<td class="reflection-written"><span class="icon-ok"></span></td>
<td class="reflection-written"><span class="icon-ok"></span></td>
<td class="reflection-written"><span class="icon-ok"></span></td>
<td class="bonus-earned"><span class="icon-ok"></span></td>
<td class="reflection-written"><span class="icon-ok"></span></td>
<td class="reflection-written"><span class="icon-ok"></span></td>
<td class="reflection-written"><span class="icon-ok"></span></td>
<td class="reflection-written"><span class="icon-ok"></span></td>
<td class="bonus-earned"><span class="icon-ok"></span></td>
<td class="reflection-written"><span class="icon-ok"></span></td>
<td class="reflection-written"><span class="icon-ok"></span></td>
<td class="reflection-written"><span class="icon-ok"></span></td>
<td class="reflection-written"><span class="icon-ok"></span></td>
<td class="bonus-earned"><span class="icon-ok"></span></td>
<td class="reflection-written"><span class="icon-ok"></span></td>
<td class="reflection-written"><span class="icon-ok"></span></td>
<td class="reflection-written"><span class="icon-ok"></span></td>
<td class="reflection-written"><span class="icon-ok"></span></td>
<td class="bonus-earned"><span class="icon-ok"></span></td>
<td class="reflection-written"><span class="icon-ok"></span></td>
<td class="reflection-written"><span class="icon-ok"></span></td>
<td class="reflection-written"><span class="icon-ok"></span></td>
<td class="reflection-written"><span class="icon-ok"></span></td>
<td class="bonus-earned"><span class="icon-ok"></span></td>
<td class="reflection-written"><span class="icon-ok"></span></td>
<td class="reflection-written"><span class="icon-ok"></span></td>
<td class="reflection-written"><span class="icon-ok"></span></td>
<td class="reflection-written"><span class="icon-ok"></span></td>
<td class="bonus-earned"><span class="icon-ok"></span></td>
<td class="reflection-written"><span class="icon-ok"></span></td>
<td class="reflection-written"><span class="icon-ok"></span></td>
<td class="reflection-written"><span class="icon-ok"></span></td>
<td class="reflection-written"><span class="icon-ok"></span></td>
<td class="bonus-earned"><span class="icon-ok"></span></td>
<td class="reflection-written"><span class="icon-ok"></span></td>
<td class="reflection-written"><span class="icon-ok"></span></td>
<td class="reflection-written"><span class="icon-ok"></span></td>
<td class="reflection-written"><span class="icon-ok"></span></td>
<td class="bonus-earned"><span class="icon-ok"></span></td>
<td class="reflection-written"><span class="icon-ok"></span></td>
<td class="reflection-written"><span class="icon-ok"></span></td>
<td class="reflection-written"><span class="icon-ok"></span></td>
<td class="reflection-written"><span class="icon-ok"></span></td>
<td class="bonus-earned"><span class="icon-ok"></span></td>
<td class="reflection-written"><span class="icon-ok"></span></td>
<td class="reflection-written"><span class="icon-ok"></span></td>
<td></td>
<td class="reflection-written"><span class="icon-ok"></span></td>
<td></td>
<td class="reflection-written"><span class="icon-ok"></span></td>
<td class="reflection-written"><span class="icon-ok"></span></td>
<td class="reflection-written"><span class="icon-ok"></span></td>
<td></td>
<td></td>
</tr>
<tr class="reflections-info-block">
<th></th>
<td colspan="36">Entering 5 consecutive reflections earns you 2 bonus points.</td>
</tr>
</tbody>
</table>
</div>